{% extends 'users/base.html' %}
{% block content %}
<div class="card mx-auto" style="witdh: 40rem;">
  <div class="card-body">
    <h5 class="card-title mb-3">Login to Continue!</h5>
    <form method="POST">
      {% csrf_token %}
      <div class="mb-3">
        <label for="exampleInputEmail1" class="from-label">Username</label>

        <input type="text" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="from-label">Password</label>
        <input type="password" name="password" class="form-control" id="exampleInputPassword1">
      </div>
      <button class="btn btn-primary">Submit</button>
    </form>
  </div>

</div>

{% endblock content %}